<section class="form-edit">
  <%= form_for @user do |f| %>

    <%= f.text_field :name, placeholder: "NAME: full name" %>
    <br>
    <%= f.text_field :email, placeholder: "EMAIL: hi@hello.com" %>
    <br/>
    <%= f.password_field :password, placeholder: "PASSWORD:" %>
    <br/>
    <%= f.password_field :password_confirmation, placeholder: "CONFIRM PASSWORD:" %>
    <br/>
    <%= f.submit "SUBMIT" %>
  <% end %>

</section>