
<h4 class="item-name">{{ item_name }} | {{ brand_name }} </h4>
<p>
	Serving size: {{nf_serving_size_qty}} | 
	<span class="sugar_amount">
		{{#if nf_sugars}}
			Sugar: {{nf_sugars}}g 
		{{else}}
			Sugar: 0g
		{{/if}}
	</span>
</p>
<label>Number of servings: </label>
<input type="number" name="amount" value=1>
<div class="add">Add</div>

